<h1>Users#new</h1>
<%= form_for :user, :url=> '/users/create', :html=>{:method=>'post'} do |form| %>
<div class="pgTitle">
  <h2 class="f_l">新增用户</h2>
  <div class="completeBtn newBtn">
    <%=  form.submit "保存"%>
    <%#= button_to_function "取消", "location.href='#{users_path}'"%>
  </div>
  <hr class="cb" />
</div>
<div><%#= error_messages_for @admin %></div>    
<div class="commonBox">
  <%= render :partial => 'form', :locals => {:form => form }%>
</div>

<% end%>