<%= form_tag admin_auths_path, :method=>'post' do  %>
<div class="pgTitle">
  <h2 class="f_l">新增邀请码</h2>
  <div class="completeBtn newBtn">
    <%=  submit_tag "保存"%>
    <%= button_to_function "取消", "location.href='#{admin_auths_path}'"%>
  </div>
  <hr class="cb" />
</div>
<div><%#= error_messages_for @admin %></div>    
<div class="commonBox">
<table class='tform'>
<th>请选择要生成的邀请码数量</th>
<td>  <%= select_tag 'count',options_for_select(Auth::AUTHCOUNT) %>&nbsp;&nbsp;&nbsp;&nbsp;生成数据可能需要几分钟的时间</td>

</table>
</div>

<% end%>
